<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Reserva a viaje</title>
    <link rel="stylesheet" href="/css/anyadir_reserva.css">

</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Añadir Reserva a viaje <span id="codViaje" th:text="${viaje.codViaje}"></span></h2>
        </div>
        <form action="/confirmarReserva" method="post">
            <input type="hidden" name="codViaje" th:value="${viaje.codViaje}">
            <div class="form-group">
                <label for="usuario">Nombre de usuario:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-group">
                <label for="plazas">Plazas solicitadas:</label>
                <input type="number" id="plazas" name="plazas" placeholder="Plazas solicitadas" min="1" required>
            </div>
            <div class="form-actions">
                <button type="submit">Añadir Reserva</button>
                <a href="/viajes"><button type="button">Volver al Listado</button></a>
            </div>
        </form>
    </div>
</body>
</html>
