<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error al realizar la reserva</title>
    <link rel="stylesheet" href="/css/errorReserva.css">
</head>
<body>
    <div class="container">
        <h1>Error al realizar la reserva</h1>
        <p>Lo sentimos, ha ocurrido un error al intentar realizar la reserva.</p>
        <p>Por favor, inténtalo de nuevo más tarde.</p>
        <a href="/viajes"><button>Volver al listado de viajes</button></a>
    </div>
</body>
</html>
