body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Ajusta el ancho según tus preferencias */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.detalle-viaje {
    padding: 20px;
}

.detalle-viaje h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.detalle-viaje p {
    margin-bottom: 10px;
}

.detalle-viaje span {
    font-weight: bold;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
}

.form-actions button:hover {
    background-color: #dc3545;
}

.form-actions-cancelar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}


.form-actions-cancelar button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
}

.form-actions-cancelar button:hover {
    background-color: #dc3545;
}

.form-actions-reservar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}


.form-actions-reservar button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
}

.form-actions-reservar button:hover {
    background-color: #28a745;
}
