body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.error-container {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-container p {
    font-size: 18px;
    margin-bottom: 10px;
}

.error-message {
    color: #cc0000;
    font-size: 16px;
    list-style-type: none;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn-container button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-container button:hover {
    background-color: #dc3545;
}
